@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}


<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-inline">
                <div class="layui-form">
                    供应商名称：
                    <div class="layui-input-inline">
                        <input type="text" name="SupplierName" lay-verify="required" placeholder="" class="layui-input" id="txtSupplierName">
                    </div>
                    &nbsp;&nbsp;
                    运输供应商编号：
                    <div class="layui-input-inline">
                        <input type="text" name="TransportNumber" lay-verify="required" placeholder="" class="layui-input" id="txtTransportNumber">
                    </div>
                    &nbsp;&nbsp;
                    运营类型：
                    <div class="layui-input-inline">
                        <input type="text" name="OperateName" lay-verify="required" placeholder="" class="layui-input" id="txtOperateName">
                    </div>
                    &nbsp;&nbsp;
                    考核类型：
                    <div class="layui-input-inline">
                        <select name="CheckType" lay-verify="" placeholder="" class="layui-select" id="txtCheckType">
                            <option></option>
                            <option value="0">调拨</option>
                            <option value="1">配送(干线)</option>
                            <option value="2">配送(终端)</option>
                        </select>
                    </div>
                    <br /><br />
                    考核年：
                    <div class="layui-input-inline">
                        <select class="select" id="selYears"></select>
                    </div>
                    &nbsp;&nbsp;
                    考核月：
                    <div class="layui-input-inline">
                        <select class="select" id="selMonths">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <a class="layui-btn" id="btnSearch">查询</a>
                    <a class="layui-btn layui-btn-normal " id="btnAdd">添加</a>
                    <a class="layui-btn layui-btn-primary " id="btnExport">导出</a>
                    <a class="layui-btn layui-btn-normal " id="btnImport">导入</a>
                    @*<a id="btnDown" style="cursor:pointer;margin-left:20px;">导入模板下载</a>*@
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <div class="forzenbox">
                <div class="normaltable ">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th style="text-align:left;">运输供应商名称</th>
                                <th>运输供应商编号</th>
                                <th>考核类型</th>
                                <th>考核年</th>
                                <th>考核月</th>
                                <th>运营类型</th>
                                <th>运营值</th>
                                <th>使用状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="TraWorkingOperatelist" style="min-height:400px;"></tbody>
                    </table>
                </div>
                <div class="forzentable"></div>
            </div>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.SupplierName}}</td>
                    <td>{{c.TransportNumber}}</td>
                    <td>{{c.CheckTypeName}}</td>
                    <td>{{c.WorkingTimeYear}}</td>
                    <td>{{c.WorkingTimeMonth}}</td>
                    <td>{{c.OperateName}}</td>
                    <td>{{c.OperateValue}}</td>
                    <td>{{c.UseStateName}}</td>
                    <td>
                        <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.WorkingOperateId}}" data-state="{{c.UseState}}">
                            <i class="iconfont icon-edit"></i>编辑
                        </a>
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnDelete" data-id="{{c.WorkingOperateId}}" data-state="{{c.UseState}}">
                            <i class="layui-icon"></i>作废
                        </a>
                        <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.WorkingOperateId}}">
                            <i class="layui-icon"></i>查看
                        </a>
                    </td>
                </tr>
                {{/each}}
            </script>
        </div>
        <div style="height:0px;position:relative;width:0px;overflow:hidden;">
            <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
        </div>
        <script type="text/html" id="temslists">
            <div class="layui-table-fixed layui-table-fixed-r">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody style="min-height:400px;">
                        {{each list as c}}
                        <tr>
                            <td lay-data="{width:80, sort: true, fixed: 'right'}">
                                <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.WorkingOperateId}}" data-state="{{c.UseState}}">
                                    <i class="iconfont icon-edit"></i>编辑
                                </a>
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnDelete" data-id="{{c.WorkingOperateId}}" data-state="{{c.UseState}}">
                                    <i class="layui-icon"></i>作废
                                </a>
                                <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.WorkingOperateId}}">
                                    <i class="layui-icon"></i>查看
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </script>
        <script type="text/html" id="temdictlist">
            {{each list as c}}
            <option value="{{c.id}}">{{c.name}}</option>
            {{/each}}
        </script>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            //导入按钮
            layui.upload.render({
                elem: '#btnImport'
                   , url: '/index/upload?type=tra'
                   , accept: 'file'
                   , auto: true
                   , done: function (res) {
                       if (res.flag == "ok") {
                           var path = res.path;
                           var index = layer.load(1, {
                               shade: [0.3, '#000'] //0.1透明度的白色背景
                           });
                           $.ajax({
                               type: "POST",
                               url: "/Tra/TraWorkingOperate/ImportInfo",
                               async: false,
                               data: { path: path },
                               dataType: 'json',
                               success: function (data) {
                                   if (data.flag == 'ok') {

                                       // 提示内容
                                       var content = "";

                                       if (data.failcount != 0) {
                                           content = '上传成功' + data.successcount + '条记录,上传失败' + data.failcount + '条记录<br>' + data.content + '上传失败!';
                                       }
                                       else {
                                           content = '上传成功' + data.successcount + '条记录';
                                       }
                                       top.layui.layer.msg(content);
                                       SearchData();
                                   }
                                   if (data.flag == 'fail') {
                                       // 提示内容
                                       var content = "";
                                       content = '上传失败' + data.failcount + '条记录';
                                       top.layui.layer.msg(content);
                                   }
                                   layui.layer.close(index);
                               }
                           });

                       }
                       return false;
                   }
            });
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 绑定事件
        $(function () {

            // 考核年
            GetYear();

            // 考核月
            var myDate = new Date();
            var CurrentMonth = myDate.getMonth();
            $("#selMonths").val(CurrentMonth);
            if (CurrentMonth == 0) {
                $("#selMonths").val(12);
            }

            // 查询
            SearchData();

            //新增按钮
            $(document).on('click', '#btnAdd', function () {
                AddData();
            });

            //查询按钮
            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

            //导出按钮
            $(document).on('click', '#btnExport', function () {
                top.window.export = top.layui.layer.load(1, { shade: [0.3, '#000'] });
                $.post('/Tra/TraWorkingOperate/Export'
                    , {
                        supplierName: $("#txtSupplierName").val()//供应商名称
                      , transportNumber: $("#txtTransportNumber").val()//运输供应商编号
                      , checkType: $("#txtCheckType").val() //考核类型
                      , years: $("#selYears").val()//考核年
                      , months: $("#selMonths").val()//考核月
                      , operateName: $("#txtOperateName").val()//运营类型
                    }
                    , function (data) {
                        if (data.flag == 'noauth') {
                            top.layui.layer.close(top.window.export);
                            top.layui.layer.msg(data.content);
                        }
                        if (data.flag == 'success') {
                            location.href = '/excel/down?guid=' + data.guid + "&name=每月运营过程记录";
                            top.layui.layer.close(top.window.export);
                        }
                    }, 'json');
            });

            //编辑按钮
            $(document).on('click', '.btnEdit', function () {
                var tId = $(this).data("id");//仓储供应商选择id
                var tState = $(this).data("state");//信息状态
                ModifyData(tId, tState);
            });

            //作废按钮
            $(document).on('click', '.btnDelete', function () {
                var tId = $(this).data("id");//仓储供应商选择id
                var tState = $(this).data("state");//状态
                DeleteData(tId, tState);
            });

            //查看按钮
            $(document).on('click', '.btnView', function () {
                var tId = $(this).data("id");//仓储供应商选择id
                ShowData(tId);
            });

            //导入模板下载
            $(document).on('click', '#btnDown', function () {
                location.href = '/excel/downtemplate?name=workingoperate&displayname=每月运营过程记录表';
            });
        });

        // 新增
        function AddData() {
            location.href = '/Tra/TraWorkingOperate/Add';
        }

        // 考核年
        function GetYear() {

            // 时间
            var myDate = new Date();

            var CurrentYear = myDate.getFullYear();

            // 起始年份
            var startYear = CurrentYear - 5;

            //结束年份
            var endYear = CurrentYear + 5;

            for (var i = startYear; i <= endYear; i++) {
                $("#selYears").append(new Option(i, i));
            }
            $("#selYears").val(CurrentYear);
        }

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#TraWorkingOperatelist").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraWorkingOperate/TraWorkingOperateCount",
                async: false,
                data: {
                    supplierName: $("#txtSupplierName").val()//供应商名称
                      , transportNumber: $("#txtTransportNumber").val()//运输供应商编号
                      , checkType: $("#txtCheckType").val() //考核类型
                      , years: $("#selYears").val()//考核年
                      , months: $("#selMonths").val()//考核月
                      , operateName: $("#txtOperateName").val()//运营类型
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;//页面索引
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                supplierName: $("#txtSupplierName").val()//供应商名称
                      , transportNumber: $("#txtTransportNumber").val()//运输供应商编号
                      , checkType: $("#txtCheckType").val() //考核类型
                      , years: $("#selYears").val()//考核年
                      , months: $("#selMonths").val()//考核月
                      , operateName: $("#txtOperateName").val()//运营类型
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraWorkingOperate/TraWorkingOperateList',
                data: userjosn,
                success: function (data) {
                    $("#TraWorkingOperatelist").html(template('temslist', { list: data }));
                    $(".forzentable").html(template('temslists', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#TraWorkingOperatelist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 编辑
        function ModifyData(tId, tState) {
            if (tState != '0') {
                top.layer.msg('只能编辑未使用的运作信息！');
                return;
            }
            location.href = '/Tra/TraWorkingOperate/Edit?tId=' + tId;
        }

        // 作废
        function DeleteData(tId, tState) {
            if (tState != '0') {
                top.layer.msg('只能作废未使用的运作信息！');
                return;
            }
            top.layer.confirm('您确定作废此数据吗？', ['确定', '取消'], function () {
                $.ajax({
                    type: "POST",
                    url: '/Tra/TraWorkingOperate/InvalidState',
                    data: { tId: tId },
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            top.layer.closeAll();
                            SearchData();
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                    }
                });
            }, function () { }
            );
        }

        // 查看
        function ShowData(tId) {
            location.href = '/Tra/TraWorkingOperate/Check?tId=' + tId;
        }

    </script>
}
