@{
    ViewBag.Title = "TraWorkingOperateType";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<input id="hdpagetype" type="hidden" value="@ViewBag.url" />
<input id="hdType" type="hidden" value="@ViewBag.CheckType" />
<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-inline">
                运营类型名称：
                <div class="layui-input-inline">
                    <input id="txtOperateName" type="text" value="" placeholder="运营类型名称" class="layui-input">
                    <input id="hdOperateId" type="hidden" name="OperateId" />
                    <input id="hdCheckType" type="hidden" name="CheckType" />
                    <input id="hdIsNumber" type="hidden" name="IsNumber" />
                    <input id="hdIsInterval" type="hidden" name="IsInterval" />
                </div>
                <a class="layui-btn" id="btnSearch">查询</a>
            </div>
        </blockquote>
        <div class="layui-form">
            <table class="layui-table" id="cominfos">
                <thead>
                    <tr>
                        <th style="text-align:left;">运营类型名称</th>
                        <th>考核类型</th>
                        <th>是否数字</th>
                    </tr>
                </thead>
                <tbody id="TraWorkingOperateTypelist" style="min-height:400px;"></tbody>
            </table>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr data-operateid="{{c.OperateId}}"
                    data-operatename="{{c.OperateName}}"
                    data-checktype="{{c.CheckType}}"
                    data-isnumber="{{c.IsNumber}}"
                    data-isinterval="{{c.IsInterval}}">
                    <td>{{c.OperateName}}</td>
                    <td>{{c.CheckTypeName}}</td>
                    <td>{{c.IsNumberName}}</td>
                </tr>
                {{/each}}
            </script>
        </div>
        <div style="height:0px;position:relative;width:0px;overflow:hidden;">
            <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table;
        });

        var pageIndex = 0;
        var pageSize = 15;

        $(function () {
            inits();
            $(document).on('click', 'tr', function () {
                top.$.find('iframe[src="' + $("#hdpagetype").val() + '"]')[0].contentWindow.setinfos(
                    $(this).data("operateid"),
                    $(this).data("operatename"),
                    $(this).data("checktype"),
                    $(this).data("isnumber"),
                    $(this).data("isinterval")
                    );
                top.layui.layer.close(top.window.topdialog);
            });

            $(document).on('click', '#btnSearch', function () {
                inits();
            });

        });

        function inits() {
            var flagCount = 0;
            pageIndex = 0;
            $("#TraWorkingOperateTypelist").html("数据加载中……");
            $.ajax({
                type: "POST",
                url: "/Tra/TraWorkingOperate/TraWorkingOperateTypeCount",
                async: false,
                data: {
                    operateName: $("#txtOperateName").val()
                    , checkType: $("#hdType").val()
                },
                success: function (data) {
                    flagCount = data;
                    $(".pagedetail").text("共" + flagCount + "条");
                }
            });

            $("#Pagination").pagination(flagCount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                operateName: $("#txtOperateName").val()
                    , checkType: $("#hdType").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraWorkingOperate/TraWorkingOperateTypeList',
                data: userjosn,
                success: function (data) {
                    $("#TraWorkingOperateTypelist").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#TraWorkingOperateTypelist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
    </script>
}
