@{
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-form">
                <div class="layui-inline">
                    运输供应商名称：
                    <div class="layui-input-inline">
                        <input id="txtSupplierName" style="width:173px;" type="text" value="" placeholder="运输供应商名称" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    考核年：
                    <div class="layui-input-inline">
                        <select class="select" id="selYear"></select>
                    </div>
                    &nbsp;&nbsp;
                    考核月：
                    <div class="layui-input-inline">
                        <select class="select" id="selMonth">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    &nbsp;&nbsp;
                    状态：
                    <div class="layui-input-inline">
                        <select class="select" id="selState">
                            <option value="" selected>请选择</option>
                            <option value="0">创建</option>
                            <option value="5">提交</option>
                            <option value="10">作废</option>
                        </select>
                    </div>
                    <br /><label style="margin-left:35px;"></label>
                    创建时间：
                    <div class="layui-input-inline">
                        <input id="txtCreateTime" style="width:173px;" type="text" placeholder="创建时间" class="layui-input">
                    </div>
                    <div class="layui-inline" style="margin:10px 0 0 10px;">
                        <a class="layui-btn" id="btnSearch">查询</a>
                        <a class="layui-btn layui-btn-normal " id="btnAdd">添加</a>
                        <a class="layui-btn layui-btn-primary " id="btnExport">导出</a>
                    </div>
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <div class="forzenbox">
                <div class="normaltable ">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th style="text-align:left;">考核编号</th>
                                <th>运输供应商名称</th>
                                <th>运输供应商编号</th>
                                <th>考核年</th>
                                <th>考核月</th>
                                <th>考核得分</th>
                                <th>整改状态</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="MonthCheckList" style="min-height:400px;"></tbody>
                    </table>
                </div>
                <div class="forzentable"></div>
            </div>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.CheckNumber}}</td>
                    <td>{{c.SupplierName}}</td>
                    <td>{{c.SupplierNumber}}</td>
                    <td>{{c.CheckYear}}</td>
                    <td>{{c.CheckMonth}}</td>
                    <td>{{c.Score}}</td>
                    <td>{{c.IsNormName}}</td>
                    <td>{{c.StateName}}</td>
                    <td>{{c.CreateTime}}</td>
                    <td>
                        {{if c.State==0}}
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnCheck" data-id="{{c.CheckId}}" data-checkfromid="{{c.CheckFromId}}">
                            <i class="layui-icon"></i>考核
                        </a>
                        <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.CheckId}}">
                            <i class="iconfont icon-edit"></i>编辑
                        </a>
                        {{if c.Score>0}}
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnSubmit" data-id="{{c.CheckId}}">
                            <i class="layui-icon"></i>提交
                        </a>
                        {{/if}}
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnInvalid" data-id="{{c.CheckId}}">
                            <i class="layui-icon"></i>作废
                        </a>
                        {{/if}}
                        <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.CheckId}}" data-checkfromid="{{c.CheckFromId}}">
                            <i class="layui-icon"></i>查看
                        </a>
                    </td>
                </tr>
                {{/each}}
            </script>
        </div>
        <script type="text/html" id="temslists">
            <div class="layui-table-fixed layui-table-fixed-r">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody style="min-height:400px;">
                        {{each list as c}}
                        <tr>
                            <td lay-data="{width:80, sort: true, fixed: 'right'}">
                                {{if c.State==0}}
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnCheck" data-id="{{c.CheckId}}" data-checkfromid="{{c.CheckFromId}}">
                                    <i class="layui-icon"></i>考核
                                </a>
                                <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.CheckId}}">
                                    <i class="iconfont icon-edit"></i>编辑
                                </a>                                
                                {{if c.Score>0}}
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnSubmit" data-id="{{c.CheckId}}">
                                    <i class="layui-icon"></i>提交
                                </a>
                                {{/if}}
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnInvalid" data-id="{{c.CheckId}}">
                                    <i class="layui-icon"></i>作废
                                </a>
                                {{/if}}
                                <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.CheckId}}" data-checkfromid="{{c.CheckFromId}}">
                                    <i class="layui-icon"></i>查看
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </script>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'laydate', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table, laydate = layui.laydate;

            // 时间样式
            laydate.render({
                elem: '#txtCreateTime'
            });
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 绑定事件
        $(function () {

            // 考核年
            GetYear();

            // 考核月
            var myDate = new Date();
            var CurrentMonth = myDate.getMonth();
            $("#selMonth").val(CurrentMonth);

            // 查询
            SearchData();

            // 新增
            $(document).on('click', '#btnAdd', function () {
                AddData();
            });

            // 查询
            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

            // 导出
            $(document).on('click', '#btnExport', function () {
                top.window.export = top.layui.layer.load(1, { shade: [0.3, '#000'] });
                $.post('/Tra/TraMonthCheck/Export'
                    , {
                        supplierName: $("#txtSupplierName").val(),
                        year: $("#selYear").val(),
                        month: $("#selMonth").val(),
                        state: $("#selState").val(),
                        createTime: $("#txtCreateTime").val()
                    }
                    , function (data) {
                        if (data.flag == 'noauth') {
                            top.layui.layer.close(top.window.export);
                            top.layui.layer.msg(data.content);
                        }
                        if (data.flag == 'success') {
                            location.href = '/excel/down?guid=' + data.guid + "&name=绩效考核评价";
                            top.layui.layer.close(top.window.export);
                        }
                    }, 'json');
            });

            // 考核
            $(document).on('click', '.btnCheck', function () {
                var tId = $(this).data("id");
                var checkFromId = $(this).data("checkfromid");
                AddMonthCheckContent(tId, checkFromId);
            });

            // 编辑
            $(document).on('click', '.btnEdit', function () {
                var tId = $(this).data("id");
                ModifyData(tId);
            });

            // 提交
            $(document).on('click', '.btnSubmit', function () {
                var tId = $(this).data("id");
                SubmitData(tId);
            });

            // 作废
            $(document).on('click', '.btnInvalid', function () {
                var tId = $(this).data("id");
                InvalidData(tId);
            });

            // 查看
            $(document).on('click', '.btnView', function () {
                var tId = $(this).data("id");
                var checkFromId = $(this).data("checkfromid");
                ShowData(tId, checkFromId);
            });
        });

        // 新增
        function AddData() {
            location.href = '/Tra/TraMonthCheck/Add';
        }

        // 考核年
        function GetYear() {

            // 时间
            var myDate = new Date();

            var CurrentYear = myDate.getFullYear();

            // 起始年份
            var startYear = CurrentYear - 5;

            //结束年份
            var endYear = CurrentYear + 5;

            for (var i = startYear; i <= endYear; i++) {
                $("#selYear").append(new Option(i, i));
            }
            $("#selYear").val(CurrentYear);
        }

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#MonthCheckList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraMonthCheck/MonthCheckAmount",
                async: false,
                data: {
                    supplierName: $("#txtSupplierName").val(),
                    year: $("#selYear").val(),
                    month: $("#selMonth").val(),
                    state: $("#selState").val(),
                    createTime: $("#txtCreateTime").val()
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                supplierName: $("#txtSupplierName").val(),
                year: $("#selYear").val(),
                month: $("#selMonth").val(),
                state: $("#selState").val(),
                createTime: $("#txtCreateTime").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraMonthCheck/MonthCheckList',
                data: userjosn,
                success: function (data) {
                    $("#MonthCheckList").html(template('temslist', { list: data }));
                    $(".forzentable").html(template('temslists', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#MonthCheckList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 考核
        function AddMonthCheckContent(tId, checkFromId) {
            $.ajax({
                type: "POST",
                url: "/Tra/TraMonthCheckContent/MonthCheckContentList",
                async: false,
                data: {
                    checkId: tId,
                    type: "index",
                    checkFromId: checkFromId
                },
                success: function (data) {
                    if (data.flag == "success") {
                        location.href = '/Tra/TraMonthCheckContent/Edit?checkId=' + tId + '&checkFromId=' + checkFromId;
                    }
                    if (data.flag == "fail") {
                        location.href = '/Tra/TraMonthCheckContent/Add?url=/Tra/TraMonthCheck/Index&checkId=' + tId + '&checkFromId=' + checkFromId;
                    }
                }
            });
        }

        // 编辑
        function ModifyData(tId) {
            location.href = '/Tra/TraMonthCheck/Edit?tId=' + tId;
        }

        // 提交
        function SubmitData(tId) {
            top.layer.confirm('您确定提交此数据吗？', ['确定', '取消'], function () {
                $.ajax({
                    type: "POST",
                    url: '/Tra/TraMonthCheck/SubmitState',
                    data: { tId: tId },
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            top.layer.closeAll();
                            top.layer.msg(data.content);
                            SearchData();
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "fail") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "exist") {
                            top.layer.msg(data.content);
                        }
                    }
                });
            }, function () { }
            );
        }

        // 作废
        function InvalidData(tId) {
            top.layer.confirm('您确定作废此数据吗？', ['确定', '取消'], function () {
                $.ajax({
                    type: "POST",
                    url: '/Tra/TraMonthCheck/InvalidState',
                    data: { tId: tId },
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            top.layer.closeAll();
                            SearchData();
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "fail") {
                            top.layer.msg(data.content);
                        }
                    }
                });
            }, function () { }
            );
        }

        // 查看
        function ShowData(tId, checkFromId) {
            location.href = '/Tra/TraMonthCheck/View?tId=' + tId + '&checkId=' + tId + '&checkFromId=' + checkFromId;
        }
    </script>
}


