@{
    Layout = "~/Views/Shared/_Home.cshtml";
}
<style>
    label {
        width: 195px !important;
    }

    .layui-input-inline {
        width: 200px !important;
    } 
</style>
<div class="layui-card">
    <div class="layui-card-header">添加服务级别</div>
    <div class="layui-card-body">
        <form class="layui-form layui-form-pane" action="/Supplier/SupplierServiceLevel/AddServiceLevel" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>供应商服务级别名称</label>
                <div class="layui-input-inline">
                    <input name="SuppServiceName" type="text" maxlength="30" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-btn" id="btnChoose">选择供应商规模信息</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>供应商规模级别名称</label>
                <div class="layui-input-inline">
                    <input id="SuppTurnoverName" name="SuppTurnoverName" type="text" maxlength="30" class="layui-input" disabled>
                    <input id="hdSuppTurnoverId" type="hidden" name="SuppTurnoverId" />
                    <input id="hdCompanyId" type="hidden" name="CompanyId" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>供应商规模服务类型</label>
                <div class="layui-input-inline">
                    <input id="SuppKindName" name="SuppKindName" type="text" maxlength="30" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>年限绩效</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked lay-skin="switch" lay-filter="isPerFormance" lay-text="是|否" disabled>
                    <input id="hdIsPerformance" name="IsPerformance" value="1" type="hidden" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>年限绩效下限（包含）</label>
                <div class="layui-input-inline">
                    <input id="txtPerformanceMin" name="PerformanceMin" type="text" maxlength="13" lay-verify="required|performancemin" class="layui-input">
                </div>
                <label style="color:lightcoral;">❀存入数据库时只保留六位小数❀</label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>年限绩效上限（不包含）</label>
                <div class="layui-input-inline">
                    <input id="txtPerformanceMax" name="PerformanceMax" type="text" maxlength="13" lay-verify="required|performancemax" class="layui-input">
                </div>
                <label style="color:lightcoral;">❀存入数据库时只保留六位小数❀</label>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label"><em>*</em>培养期望</label>
                    <div class="layui-input-block" style="margin-left:195px;width:70%;">
                        <textarea placeholder="请输入培养期望" name="ExpectContent" maxlength="800" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label"><em>*</em>管理策略</label>
                    <div class="layui-input-block" style="margin-left:195px;width:70%;">
                        <textarea placeholder="请输入管理策略" name="ManageContent" maxlength="800" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block" style="margin-left:195px;width:70%;">
                        <textarea placeholder="请输入内容" name="Remark" maxlength="100" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:180px;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script> 
        // 最大年绩效上限
        var maxNum = 0;

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            form.on('switch(isPerFormance)', function (data) {
                $("#hdIsPerformance").val(this.checked ? "1" : "0");
            });
             
            // blur事件
            $(document).on('blur', '#txtPerformanceMin', function () {
                var val = $(this).val();

                // 验证
                if (!new RegExp("^([0-9])[0-9]*(\\.\\w*)?$").test(val)) { 
                    layui.layer.msg('只能输入数字或小数！');
                    return false;
                }
                var performanceMin = val.split('.'); 
                var length = performanceMin[0].length; 
                if (length > 6) {
                    layui.layer.msg('整数位数不得大于6位！'); 
                    $(this).focus();
                    return false;
                }

                // 获取最大年绩效上限
                GetPerformanceMax(); 
                if (parseFloat(val) < parseFloat(maxNum)) {
                    layui.layer.msg('年绩效下限不得小于' + maxNum+'！'); 
                    $(this).focus();
                    return false;
                }
            }); 
            $(document).on('blur', '#txtPerformanceMax', function () {
                var val = $(this).val();

                // 验证
                if (!new RegExp("^([0-9])[0-9]*(\\.\\w*)?$").test(val)) {
                    layui.layer.msg('只能输入数字或小数！');
                    return false;
                } 
                var performanceMax = val.split('.'); 
                var length = performanceMax[0].length;
                if (length > 6) {
                    layui.layer.msg('整数位数不得大于6位！'); 
                    $(this).focus();
                    return false;
                }

                if (parseFloat(val) <= parseFloat($("#txtPerformanceMin").val())) {
                    layui.layer.msg('年绩效上限须大于年绩效下限！'); 
                    $(this).focus();
                    return false;
                }
            });
             
            form.on('submit(btnSave)', function (data) { 
                $.ajax({
                    type: "POST",
                    url: "/Supplier/SupplierServiceLevel/AddServiceLevel",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('添加成功！'); 
                            location.href = '/Supplier/SupplierServiceLevel/Index';
                        }
                        if (data.flag == "fail") {
                            layui.layer.msg('信息添加失败！');
                        }
                    }
                });
                return false;
            }); 
        });

        // 获取最大年绩效上限
        function GetPerformanceMax() { 
            // 获取最大年绩效上限
            $.ajax({
                type: "POST",
                url: "/Supplier/SupplierServiceLevel/GetMaxPerformance",
                async: false,
                success: function (data) {
                    maxNum = data; 
                }
            }); 
        }

        $(function () { 
            // 返回
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Supplier/SupplierServiceLevel/Index';
            });
             
            // 选择供应商规模信息
            $(document).on('click', '#btnChoose', function () {
                Choose();
            });
        });

        // 设置供应商规模信息
        function setinfo(id, name, type, companyId) {
            $("#hdSuppTurnoverId").val(id);
            $("#SuppTurnoverName").val(name);
            $("#SuppKindName").val(type);
            $("#hdCompanyId").val(companyId);
        }
  
        // 选择供应商规模信息
        function Choose() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '选择供应商规模信息',
                content: '/Supplier/SupplierTurnoverLevel/ChooseTurnoverLevel?url=/Supplier/SupplierServiceLevel/Index',
                area: ['550px', '600px'],
            });
        }

        // 获取参数
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    </script>
}

