@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<input id="txtAuditUserId" type="hidden" value="@ViewBag.UserId" />
<input id="hdpagetype" type="hidden" value="@ViewBag.url" />
<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-form">
                <div class="layui-form">
                    申请机构：
                    <div class="layui-input-inline">
                        <input value="" placeholder="申请机构" class="layui-input" type="text" id="txtCreateDepartmentName" readonly>
                        <input id="hdCreateDepartmentId" type="hidden" />
                        <input id="hdSupplierAuditId" type="hidden" name="SupplierAuditId" />
                    </div>
                    <i class="layui-icon layui-icon-delete clearDepartmentName"></i>
                    &nbsp;&nbsp;
                    申请时间：
                    <div class="layui-input-inline">
                        <input type="text" name="ApplyTime" lay-verify="required" placeholder="" class="layui-input" id="txtApplyTime">
                    </div>
                    &nbsp;&nbsp;
                    审核状态：
                    <div class="layui-input-inline">
                        <select class="select" id="selState">
                            <option value="" selected>请选择审核状态</option>
                            <option value="0">未审核</option>
                            <option value="1">审核通过</option>
                            <option value="2">审核退回</option>
                            <option value="3">审核未通过</option>
                            <option value="4">驳回</option>
                            <option value="10">撤销处理</option>
                        </select>
                    </div>
                    <div class="layui-inline" style="margin:10px 0 0 10px;">
                        <a class="layui-btn" id="btnSearch">查询</a>
                    </div>
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <div class="forzenbox">
                <div class="normaltable ">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th style="text-align:left;">申请机构</th>
                                <th>申请负责人</th>
                                <th>申请时间</th>
                                <th>申请原因</th>
                                <th>月转运成本</th>
                                <th>是否招标</th>
                                <th>提交状态</th>
                                <th>审核状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="userlist" style="min-height:400px;"></tbody>
                    </table>
                </div>
                <div class="forzentable"></div>
            </div>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.DepartmentName}}</td>
                    <td>{{c.ApplyUser}}</td>
                    <td>{{c.ApplyTime}}</td>
                    <td>{{c.ApplyContent}}</td>
                    <td>{{c.MonthCost}}</td>
                    <td>{{c.IsNotificationName}}</td>
                    <td>{{c.StateName}}</td>
                    <td>{{c.StateNamess}}</td>
                    <td>
                        {{if isAudit(c.AuditUserId)}}
                        {{if c.SaState==0}}
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnCheck" data-id="{{c.SupplierAuditId}}" data-state="{{c.SaState}}">
                            <i class="layui-icon"></i>审核
                        </a>
                        {{/if}}
                        {{if c.SaState==1}}
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnRevoke" data-id="{{c.SupplierAuditId}}" data-presentid="{{c.PresentId}}" data-state="{{c.SaState}}">
                            <i class="layui-icon"></i>撤销
                        </a>
                        {{/if}}
                        {{/if}}
                        <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.SupplierAuditId}}">
                            <i class="layui-icon"></i>查看
                        </a>
                    </td>
                </tr>
                {{/each}}
            </script>
        </div>
        <div style="height:0px;position:relative;width:0px;overflow:hidden;">
            <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
        </div>
        <script type="text/html" id="temslists">
            <div class="layui-table-fixed layui-table-fixed-r">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody style="min-height:400px;">
                        {{each list as c}}
                        <tr>
                            <td lay-data="{width:80, sort: true, fixed: 'right'}">
                                {{if isAudit(c.AuditUserId)}}
                                {{if c.SaState==0}}
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnCheck" data-id="{{c.SupplierAuditId}}" data-state="{{c.SaState}}">
                                    <i class="layui-icon"></i>审核
                                </a>
                                {{/if}}
                                {{if c.SaState==1}}
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnRevoke" data-id="{{c.SupplierAuditId}}" data-presentid="{{c.PresentId}}" data-state="{{c.SaState}}">
                                    <i class="layui-icon"></i>撤销
                                </a>
                                {{/if}}
                                {{/if}}
                                <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.SupplierAuditId}}">
                                    <i class="layui-icon"></i>查看
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </script>
        <script type="text/html" id="temdictlist">
            {{each list as c}}
            <option value="{{c.id}}">{{c.name}}</option>
            {{/each}}
        </script>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'laydate', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table, laydate = layui.laydate;
            //验证申请时间
            laydate.render({
                elem: '#txtApplyTime'
            });
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 绑定事件
        $(function () {

            // 查询
            SearchData();

            // 清除条件(提起机构)
            $(document).on('click', '.clearDepartmentName', function () {
                $("#txtCreateDepartmentName").val("");
                $("#hdCreateDepartmentId").val("");
            });

            // 提起机构(发起人所在机构)
            $(document).on('click', '#txtCreateDepartmentName', function () {
                GetDepartmentName();
            });

            // 查询
            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

            // 审核
            $(document).on('click', '.btnCheck', function () {
                var tId = $(this).data("id");
                var tState = $(this).data("state");
                CheckData(tId, tState);
            });

            // 撤销
            $(document).on('click', '.btnRevoke', function () {
                var tId = $(this).data("id");
                var tPresentid = $(this).data("presentid");
                var tState = $(this).data("state");
                RevokeData(tId, tState, tPresentid);
            });

            // 查看
            $(document).on('click', '.btnView', function () {
                var tId = $(this).data("id");
                ShowData(tId);
            });
        });

        // 当前登录人==审核人?
        template.helper('isAudit', function (auditUserId) {
            if (auditUserId != $("#txtAuditUserId").val()) {
                return false;
            }
            return true;
        });

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#userlist").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraChooseAudit/TraChooseAuditAmount",
                async: false,
                data: {
                    CreateDepartmentId: $("#hdCreateDepartmentId").val()
                    , ApplyTime: $("#txtApplyTime").val()
                    , state: $("#selState").val()
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {

            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                CreateDepartmentId: $("#hdCreateDepartmentId").val()
                    , ApplyTime: $("#txtApplyTime").val()
                    , state: $("#selState").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraChooseAudit/TraChooseAuditList',
                data: userjosn,
                success: function (data) {
                    $("#userlist").html(template('temslist', { list: data }));
                    $(".forzentable").html(template('temslists', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#userlist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 审核
        function CheckData(tId, tState) {
            if (tState != '0') {
                top.layer.msg('本数据非未审核状态，不允许审核！');
                return;
            }

            location.href = '/Tra/TraChooseAudit/Audit?tId=' + tId;

        }

        // 撤销
        function RevokeData(tId, tState, tPresentid) {
            if (tState != '1') {
                top.layer.msg('本数据非审核通过状态，不允许撤销！');
                return;
            }
            top.layer.confirm('您确定撤销此数据吗？', ['确定', '取消'], function () {
                $.ajax({
                    type: "POST",
                    url: '/Tra/TraChooseAudit/RevokeAudit',
                    data: { tId: tId, tPresentid: tPresentid },
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            top.layer.closeAll();
                            top.layer.msg(data.content);
                            SearchData();
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "fail") {
                            top.layer.msg(data.content);
                        }
                    }
                });
            }, function () { }
            );
        }

        // 查看
        function ShowData(tId) {
            location.href = '/Tra/TraChooseAudit/View?tId=' + tId;
        }

        // 设置部门
        function setinfo(ids, names) {
            $("#hdCreateDepartmentId").val(ids);
            $("#txtCreateDepartmentName").val(names);
        }

        // 获取机构名称
        function GetDepartmentName() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '选择机构',
                content: '/sysdep/tree?url=/Tra/TraChooseAudit/Index',
                area: ['300px', '450px'],
            });
        }

    </script>
}
