@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}


<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-inline">
                <div class="layui-form">
                    供应商名称：
                    <div class="layui-input-inline">
                        <input type="text" name="SupplierName" lay-verify="required" placeholder="" class="layui-input" id="txtSupplierName">
                    </div>
                    &nbsp;&nbsp;
                    暨邀请函名称：
                    <div class="layui-input-inline">
                        <input type="text" name="InvitationName" lay-verify="required" placeholder="" class="layui-input" id="txtInvitationName">
                    </div>
                    &nbsp;&nbsp;
                    投标线路：
                    <div class="layui-input-inline">
                        <input type="text" name="NotificationLines" lay-verify="required" placeholder="" class="layui-input" id="txtNotificationLines">
                    </div>
                    &nbsp;&nbsp;
                    状态：
                    <div class="layui-input-inline">
                        <select name="State" lay-verify="" placeholder="" class="layui-select" id="txtState">
                            <option></option>
                            <option value="0">初始</option>
                            <option value="1">提交</option>
                            <option value="10">作废</option>
                        </select>
                    </div>
                    <br />
                    <br />
                    <a class="layui-btn" id="btnSearch">查询</a>
                    <a class="layui-btn layui-btn-normal " id="btnAdd">添加</a>
                    <a class="layui-btn layui-btn-primary " id="btnExport">导出</a>
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <div class="forzenbox">
                <div class="normaltable ">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th style="text-align:left;">供应商名称</th>
                                <th>运输供应商编号</th>
                                <th>通知编号</th>
                                <th>暨邀请函名称</th>
                                <th>投标线路</th>
                                <th>投标保证金</th>
                                <th>招标备注</th>
                                <th>状态</th>
                                <th>新增时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="TraSupplierNotificationlist" style="min-height:400px;"></tbody>
                    </table>
                </div>
                <div class="forzentable"></div>
            </div>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.SupplierName}}</td>
                    <td>{{c.TransportNumber}}</td>
                    <td>{{c.NotificationNumber}}</td>
                    <td>{{c.InvitationName}}</td>
                    <td>{{c.NotificationLines}}</td>
                    <td>{{c.Deposit}}</td>
                    <td>{{c.SuppNotificationRemark}}</td>
                    <td>{{c.StateName}}</td>
                    <td>{{c.CreateTime}}</td>
                    <td>
                        {{if c.State==0}}
                        <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.SuppNotificationId}}">
                            <i class="iconfont icon-edit"></i>编辑
                        </a>
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnSubmit" data-id="{{c.SuppNotificationId}}">
                            <i class="layui-icon"></i>提交
                        </a>
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnDelete" data-id="{{c.SuppNotificationId}}">
                            <i class="layui-icon"></i>作废
                        </a>
                        {{/if}}
                        <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.SuppNotificationId}}">
                            <i class="layui-icon"></i>查看
                        </a>
                    </td>
                </tr>
                {{/each}}
            </script>
        </div>
        <div style="height:0px;position:relative;width:0px;overflow:hidden;">
            <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
        </div>

        <script type="text/html" id="temslists">
            <div class="layui-table-fixed layui-table-fixed-r">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody style="min-height:400px;">
                        {{each list as c}}
                        <tr>
                            <td lay-data="{width:80, sort: true, fixed: 'right'}">
                                {{if c.State==0}}
                                <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.SuppNotificationId}}">
                                    <i class="iconfont icon-edit"></i>编辑
                                </a>
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnSubmit" data-id="{{c.SuppNotificationId}}">
                                    <i class="layui-icon"></i>提交
                                </a>
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnDelete" data-id="{{c.SuppNotificationId}}">
                                    <i class="layui-icon"></i>作废
                                </a>
                                {{/if}}
                                <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.SuppNotificationId}}">
                                    <i class="layui-icon"></i>查看
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </script>
        <script type="text/html" id="temdictlist">
            {{each list as c}}
            <option value="{{c.id}}">{{c.name}}</option>
            {{/each}}
        </script>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 绑定事件
        $(function () {
            // 查询
            SearchData();

            //新增按钮
            $(document).on('click', '#btnAdd', function () {
                AddData();
            });

            //查询按钮
            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

            //导出按钮
            $(document).on('click', '#btnExport', function () {
                top.window.export = top.layui.layer.load(1, { shade: [0.3, '#000'] });
                $.post('/Tra/TraSupplierNotification/Export'
                    , {
                        supplierName: $("#txtSupplierName").val()//供应商名称
                      , invitationName: $("#txtInvitationName").val()//暨邀请函名称
                      , notificationLines: $("#txtNotificationLines").val() //投标线路
                      , state: $("#txtState").val() //状态
                    }
                    , function (data) {
                        if (data.flag == 'noauth') {
                            top.layui.layer.close(top.window.export);
                            top.layui.layer.msg(data.content);
                        }
                        if (data.flag == 'success') {
                            location.href = '/excel/down?guid=' + data.guid + "&name=供应商招标表";
                            top.layui.layer.close(top.window.export);
                        }
                    }, 'json');
            });

            //编辑按钮
            $(document).on('click', '.btnEdit', function () {
                var tId = $(this).data("id");//仓储供应商选择id
                ModifyData(tId);
            });

            //提交按钮
            $(document).on('click', '.btnSubmit', function () {
                var tId = $(this).data("id");//仓储供应商选择id
                SubmitData(tId);
            });

            //作废按钮
            $(document).on('click', '.btnDelete', function () {
                var tId = $(this).data("id");//仓储供应商选择id
                DeleteData(tId);
            });

            //查看按钮
            $(document).on('click', '.btnView', function () {
                var tId = $(this).data("id");//仓储供应商选择id
                ShowData(tId);
            });
        });

        // 新增
        function AddData() {
            location.href = '/Tra/TraSupplierNotification/Add';
        }

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#TraSupplierNotificationlist").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraSupplierNotification/TraSupplierNotificationCount",
                async: false,
                data: {
                    supplierName: $("#txtSupplierName").val()//供应商名称
                      , invitationName: $("#txtInvitationName").val()//暨邀请函名称
                      , notificationLines: $("#txtNotificationLines").val() //投标线路
                      , state: $("#txtState").val() //状态
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;//页面索引
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                supplierName: $("#txtSupplierName").val()//供应商名称
                      , invitationName: $("#txtInvitationName").val()//暨邀请函名称
                      , notificationLines: $("#txtNotificationLines").val() //投标线路
                      , state: $("#txtState").val() //状态
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraSupplierNotification/TraSupplierNotificationList',
                data: userjosn,
                success: function (data) {
                    $("#TraSupplierNotificationlist").html(template('temslist', { list: data }));
                    $(".forzentable").html(template('temslists', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#TraSupplierNotificationlist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 编辑
        function ModifyData(tId) {
            location.href = '/Tra/TraSupplierNotification/Edit?tId=' + tId;
        }

        // 提交按钮
        function SubmitData(tId) {
            top.layer.confirm('您确定提交此数据吗？', ['确定', '取消'], function () {
                $.ajax({
                    type: "POST",
                    url: '/Tra/TraSupplierNotification/SubmitTraSupplierNotification',
                    data: { tId: tId },
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            top.layer.closeAll();
                            top.layer.msg(data.content);
                            SearchData();
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }

                        if (data.flag == "fail") {
                            top.layer.msg(data.content);
                        }
                    }
                });
            }, function () { }
            );
        }

        // 作废
        function DeleteData(tId) {
            top.layer.confirm('您确定作废此数据吗？', ['确定', '取消'], function () {
                $.ajax({
                    type: "POST",
                    url: '/Tra/TraSupplierNotification/InvalidState',
                    data: { tId: tId },
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            top.layer.closeAll();
                            SearchData();
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "fail") {
                            top.layer.msg(data.content);
                        }
                    }
                });
            }, function () { }
            );
        }

        // 查看
        function ShowData(tId) {
            location.href = '/Tra/TraSupplierNotification/Check?tId=' + tId;
        }
    </script>
}
