@{
    ViewBag.Title = "TraSuppLierInfo";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<input id="hdpagetype" type="hidden" value="@ViewBag.url" />
<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-inline">
                供应商名称：
                <div class="layui-input-inline">
                    <input id="txtSupplierName" type="text" value="" placeholder="供应商名称" class="layui-input">
                </div>
                <a class="layui-btn" id="btnSearch">查询</a>
            </div>
        </blockquote>
        <div class="layui-form">
            <table class="layui-table" id="cominfos">
                <thead>
                    <tr>
                        <th style="text-align:left;">供应商名称</th>
                        <th>运输供应商编号</th>
                        <th>通知编号</th>
                        <th>暨邀请函名称</th>
                        <th>投标线路</th>
                        <th>招标备注</th>
                    </tr>
                </thead>
                <tbody id="userlist" style="min-height:400px;"></tbody>
            </table>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr data-notificationid="{{c.NotificationId}}"
                    data-transportid="{{c.TransportId}}"
                    data-suppliername="{{c.SupplierName}}"
                    data-transportnumber="{{c.TransportNumber}}"
                    data-notificationnumber="{{c.NotificationNumber}}"
                    data-invitationname="{{c.InvitationName}}"
                    data-notificationlines="{{c.NotificationLines}}"
                    data-notificationremark="{{c.NotificationRemark}}">
                    <td>{{c.SupplierName}}</td>
                    <td>{{c.TransportNumber}}</td>
                    <td>{{c.NotificationNumber}}</td>
                    <td>{{c.InvitationName}}</td>
                    <td>{{c.NotificationLines}}</td> 
                    <td>{{c.NotificationRemark}}</td>
                </tr>
                {{/each}}
            </script>
        </div>
        <div style="height:0px;position:relative;width:0px;overflow:hidden;">
            <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table;
        });

        var pageIndex = 0;
        var pageSize = 15;

        $(function () {
            inits();
            $(document).on('click', 'tr', function () {
                top.$.find('iframe[src="' + $("#hdpagetype").val() + '"]')[0].contentWindow.setinfo(
                    $(this).data("notificationid"),
                    $(this).data("transportid"),
                    $(this).data("suppliername"),
                    $(this).data("transportnumber"),
                    $(this).data("notificationnumber"),
                    $(this).data("invitationname"),
                    $(this).data("notificationlines"),
                    $(this).data("notificationremark")
                    );
                top.layui.layer.close(top.window.topdialog);
            });

            $(document).on('click', '#btnSearch', function () {
                inits();
            });

        });

        function inits() {
            var flagCount = 0;
            pageIndex = 0;
            $("#userlist").html("数据加载中……");
            $.ajax({
                type: "POST",
                url: "/Tra/TraSupplierNotification/TraSupplierInfoCount",
                async: false,
                data: { supplierName: $("#txtSupplierName").val() },
                success: function (data) {
                    flagCount = data;
                    $(".pagedetail").text("共" + flagCount + "条");
                }
            });

            $("#Pagination").pagination(flagCount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                supplierName: $("#txtSupplierName").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraSupplierNotification/TraSupplierInfoList',
                data: userjosn,
                success: function (data) {
                    $("#userlist").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#userlist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
    </script>
}
