@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}
 
<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-form">
                <div class="layui-inline">
                    附件名称：
                    <div class="layui-input-inline">
                        <input id="txtAdjunctName" type="text" value="" placeholder="附件名称" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    附件类型：
                    <div class="layui-input-inline" style="width:160px;">
                        @*<select class="select" id="selAdjunctType">
                            <option value="">请选择附件类型</option>
                            <option value="0">运输供应商附件</option>
                            <option value="1">仓储供应商附件</option>
                            <option value="2">仓储启用附件</option>
                            <option value="3">招标通知附件</option>
                            <option value="4">供应商投标附件</option>
                            <option value="5">运作要求附件</option>
                            <option value="6">过程巡查附件</option>
                            <option value="7">巡查记录附件</option>
                            <option value="8">整改记录附件</option>
                            <option value="9">激励措施附件</option>
                            <option value="10">培训执行记录附件</option>
                            <option value="11">仓储评估附件</option>
                            <option value="12">运输选择申请附件</option>
                        </select>*@ 
                        <select id="selAdjunctType" class="select"></select>
                    </div>
                    <a class="layui-btn" id="btnSearch">查询</a>
                    <a class="layui-btn layui-btn-normal " id="btnAdd">添加</a>
                    <a class="layui-btn layui-btn-primary " id="btnExport">导出</a>
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th style="text-align:left;">附件名称</th>
                        <th>附件类型</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="AdjunctTypeList" style="min-height:400px;"></tbody>
            </table>
        </div>
        <div id="pageinfos" class="pagebox">
            <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
        </div>
        <script type="text/html" id="temslist">
            {{each list as c}}
            <tr>
                <td>{{c.AdjunctName}}</td>
                <td>{{c.AdjunctTypeName}}</td>
                <td>{{c.StateName}}</td>
                <td>{{c.CreateTime}}</td>
                <td>
                    <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.AdjunctId}}">
                        <i class="iconfont icon-edit"></i>编辑
                    </a>
                    <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.AdjunctId}}">
                        <i class="layui-icon"></i>查看
                    </a>
                </td>
            </tr>
            {{/each}}
        </script>
        <script type="text/html" id="temdictlist">
            {{each list as c}}
            <option value="{{c.id}}">{{c.name}}</option>
            {{/each}}
        </script>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table;
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 绑定事件
        $(function () {

            // 附件类型
            SearchDictionaryList();

            // 加载查询
            SearchData();

            // 新增
            $(document).on('click', '#btnAdd', function () {
                AddData();
            });

            // 查询
            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

            // 导出
            $(document).on('click', '#btnExport', function () {
                top.window.export = top.layui.layer.load(1, { shade: [0.3, '#000'] });
                $.post('/SysAdjunctType/Export'
                    , {
                        adjunctName: $("#txtAdjunctName").val(),
                        adjunctType: $("#selAdjunctType").val()
                    }
                    , function (data) {
                        if (data.flag == 'noauth') {
                            top.layui.layer.close(top.window.export);
                            top.layui.layer.msg(data.content);
                        }
                        if (data.flag == 'success') {
                            location.href = '/excel/down?guid=' + data.guid + "&name=附件类型表";
                            top.layui.layer.close(top.window.export);
                        }
                    }, 'json');
            });

            // 编辑
            $(document).on('click', '.btnEdit', function () {
                var tId = $(this).data("id");
                ModifyData(tId);
            });

            // 查看
            $(document).on('click', '.btnView', function () {
                var tId = $(this).data("id");
                ShowData(tId);
            });
        });

        // 新增
        function AddData() {
            location.href = '/SysAdjunctType/Add';
        }

        // 编辑
        function ModifyData(tId, tState) {
            location.href = '/SysAdjunctType/Edit?tId=' + tId;
        }

        // 查看
        function ShowData(tId) {
            location.href = '/SysAdjunctType/View?tId=' + tId;
        }

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#AdjunctTypeList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/SysAdjunctType/SysAdjunctTypeCount",
                async: false,
                data: {
                    adjunctName: $("#txtAdjunctName").val(),
                    adjunctType: $("#selAdjunctType").val()
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                adjunctName: $("#txtAdjunctName").val(),
                adjunctType: $("#selAdjunctType").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/SysAdjunctType/SysAdjunctTypeList',
                data: userjosn,
                success: function (data) {
                    $("#AdjunctTypeList").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#AdjunctTypeList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 类型数组
        window.AdjunctType = [];

        // 附件类型(系统字典表中获取)
        function SearchDictionaryList() {

            AdjunctType.push({ id: '', name: "请选择" });

            $.ajax({
                url: '/Supplier/Supplier/DictList',
                type: 'POST',
                async: false,
                datatype: 'json',
                success: function (data) {
                    if (data) {
                        for (var i in data) {
                            if (data[i].Type == 12) {
                                AdjunctType.push({ id: data[i].Number, name: data[i].Name });
                            }
                        }
                    }
                }
            });

            $("#selAdjunctType").html(template('temdictlist', { list: AdjunctType }));

            layui.use('form', function () {
                layui.form.render("select");
            });
        }

    </script>
}
