@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-form">
                <div class="layui-inline">
                    资料类型：
                    <div class="layui-input-inline">
                        <input id="txtDatumTypeName" type="text" value="" placeholder="资料类型" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    要求类型：
                    <div class="layui-input-inline">
                        <input id="txtClaimTypeName" type="text" value="" placeholder="要求类型" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    状态：
                    <div class="layui-input-inline">
                        <input id="txtStateName" type="text" value="" placeholder="状态" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    创建时间：
                    <div class="layui-input-inline">
                        <input id="txtCreateTime" type="text" value="" placeholder="创建时间" class="layui-input">
                    </div>
                    <div class="layui-inline" style="margin-left:10px;">
                        <a class="layui-btn" id="btnSearch">查询</a>
                    </div>
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>运作编号</th>
                        <th>资料类型</th>
                        <th>要求类型</th>
                        <th>状态</th>
                        <th>使用方式</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="userlist" style="min-height:400px;"></tbody>
            </table>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.OperationNumber}}</td>
                    <td>{{c.DatumTypeName}}</td>
                    <td>{{c.ClaimTypeName}}</td>
                    <td>{{c.StateName}}</td>
                    <td>{{c.EmployTypeName}}</td>
                    <td>{{c.CreateTime}}</td>
                    <td>
                        <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.OperationClaimId}}">
                            <i class="layui-icon"></i>查看
                        </a>
                    </td>
                </tr>
                {{/each}}
            </script>
        </div>
        <div style="height:0px;position:relative;width:0px;overflow:hidden;">
            <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table;
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 5;

        // 绑定事件
        $(function () {
            // 查询
            SearchData();

            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

            $(document).on('click', '.btnView', function () {
                var tId = $(this).data("id");
                location.href = "/SupplierQuery/TrainNotice/Check?tId="+tId;
            });

        });

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#userlist").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/SupplierQuery/TrainNotice/IndexAmount",
                async: false,
                data: {
                    datumType: $("#txtDatumTypeName").val(),
                    claimType: $("#txtClaimTypeName").val(),
                    state: $("#txtStateName").val(),
                    createTime: $("#txtCreateTime").val()
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {

            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                datumType: $("#txtDatumTypeName").val(),
                claimType: $("#txtClaimTypeName").val(),
                state: $("#txtStateName").val(),
                createTime: $("#txtCreateTime").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/SupplierQuery/TrainNotice/Index',
                data: userjosn,
                success: function (data) {
                    $("#userlist").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#userlist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
    </script>
}