@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-form">
                <div class="layui-inline">
                    RDC：
                    <div class="layui-input-inline">
                        <input id="txtDepartmentName" type="text" value="" placeholder="RDC" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    运输供应商名称：
                    <div class="layui-input-inline">
                        <input id="txtSupplierName" type="text" value="" placeholder="运输供应商名称" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    培训主题：
                    <div class="layui-input-inline">
                        <input id="txtTheme" type="text" value="" placeholder="培训主题" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    培训实际执行时间：
                    <div class="layui-input-inline">
                        <input id="txtRecordTime" type="text" value="" placeholder="培训实际执行时间" class="layui-input">
                    </div>
                    <div class="layui-inline" style="margin-left:10px;">
                        <a class="layui-btn" id="btnSearch">查询</a>
                        <a class="layui-btn layui-btn-primary " id="btnExport">导出</a>
                    </div>
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>RDC</th>
                        <th>运输供应商名称</th>
                        <th>培训主题</th>
                        <th>培训目的</th>
                        <th>培训实际执行时间</th>
                        <th>培训达标情况</th>
                    </tr>
                </thead>
                <tbody id="datalist" style="min-height:400px;"></tbody>
            </table>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.DepartmentName}}</td>
                    <td>{{c.SupplierName}}</td>
                    <td>{{c.Theme}}</td>
                    <td>{{c.Destination}}</td>
                    <td>{{c.RecordTime}}</td>
                    <td>{{c.RecordResultName}}</td>
                </tr>
                {{/each}}
            </script>
        </div>
        <div style="height:0px;position:relative;width:0px;overflow:hidden;">
            <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'laydate', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table,laydate = layui.laydate; 
            //验证申请时间
            laydate.render({
                elem: '#txtRecordTime'
                , type: 'datetime'
               , format: 'yyyy/MM/dd'
            });

        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 绑定事件
        $(function () {
            // 查询
            SearchData();

            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

            $(document).on('click', '#btnExport', function () {
                top.window.export = top.layui.layer.load(1, { shade: [0.3, '#000'] });
                $.post('/SupplierQuery/TrainQuery/Export'
                    , {
                        departmentName: $("#txtDepartmentName").val(),
                        supplierName: $("#txtSupplierName").val(),
                        theme: $("#txtTheme").val(),
                        recordTime: $("#txtRecordTime").val()
                    }
                    , function (data) {
                        if (data.flag == 'noauth') {
                            top.layui.layer.close(top.window.export);
                            top.layui.layer.msg(data.content);
                        }
                        if (data.flag == 'success') {
                            location.href = '/excel/down?guid=' + data.guid + "&name=培训情况查询";
                            top.layui.layer.close(top.window.export);
                        }
                    }, 'json');
            });
        });

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#datalist").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/SupplierQuery/TrainQuery/IndexAmount",
                async: false,
                data: {
                    departmentName: $("#txtDepartmentName").val(),
                    supplierName: $("#txtSupplierName").val(),
                    theme: $("#txtTheme").val(),
                    recordTime: $("#txtRecordTime").val()
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {

            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                departmentName: $("#txtDepartmentName").val(),
                supplierName: $("#txtSupplierName").val(),
                theme: $("#txtTheme").val(),
                recordTime: $("#txtRecordTime").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/SupplierQuery/TrainQuery/IndexList',
                data: userjosn,
                success: function (data) {
                    $("#datalist").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#datalist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
    </script>
}