@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-inline">
                <div class="layui-form">
                    招标起迄时间：
                    <div class="layui-input-inline">
                        <input id="txtNotificationBeginTime" type="text" placeholder="运作起时间" class="layui-input">
                    </div>  -
                    <div class="layui-input-inline">
                        <input id="txtNotificationEndTime" type="text" placeholder="运作迄时间" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    招标线路：
                    <div class="layui-input-inline">
                        <input type="text" name="NotificationLines" lay-verify="required" placeholder="" class="layui-input" id="txtNotificationLines">
                    </div>  
                    <a class="layui-btn" id="btnSearch">查询</a>
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <div class="forzenbox">
                <div class="normaltable ">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th style="text-align:left;">申请编号</th>
                                <th>申请机构</th>
                                <th>申请负责人</th>
                                <th>申请时间</th>
                                <th>通知编号</th>
                                <th>暨邀请函名称</th>
                                <th>招标线路</th>
                                <th>招标开始时间</th>
                                <th>招标结束时间</th>
                                <th>招标备注</th>
                                <th>招标状态</th> 
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="TraNotificationChecklist" style="min-height:400px;"></tbody>
                    </table>
                </div>
                <div class="forzentable"></div>
            </div>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.TraChooseNumber}}</td>
                    <td>{{c.DepartmentName}}</td>
                    <td>{{c.ApplyUser}}</td>
                    <td>{{c.ApplyTime}}</td>
                    <td>{{c.NotificationNumber}}</td>
                    <td>{{c.InvitationName}}</td>
                    <td>{{c.NotificationLines}}</td>
                    <td>{{c.NotificationBeginTime}}</td>
                    <td>{{c.NotificationEndTime}}</td>
                    <td>{{c.NotificationRemark}}</td>
                    <td>{{c.NotificationStateName}}</td> 
                    <td>
                        <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.NotificationId}}">
                            <i class="layui-icon"></i>查看
                        </a>
                    </td>
                </tr>
                {{/each}}
            </script>
        </div>
        <div style="height:0px;position:relative;width:0px;overflow:hidden;">
            <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
        </div>

        <script type="text/html" id="temslists">
            <div class="layui-table-fixed layui-table-fixed-r">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody style="min-height:400px;">
                        {{each list as c}}
                        <tr>
                            <td lay-data="{width:80, sort: true, fixed: 'right'}">
                                <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.NotificationId}}">
                                    <i class="layui-icon"></i>查看
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </script>
        <script type="text/html" id="temdictlist">
            {{each list as c}}
            <option value="{{c.id}}">{{c.name}}</option>
            {{/each}}
        </script>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            // 开始日期
            var insStart = laydate.render({
                elem: '#txtNotificationBeginTime',
                done: function (value, date) {
                    // 更新结束日期的最小日期
                    insEnd.config.min = lay.extend({}, date, {
                        month: date.month - 1
                    });

                    // 自动弹出结束日期的选择器
                    insEnd.config.elem[0].focus();
                }
            });

            // 结束日期
            var insEnd = laydate.render({
                elem: '#txtNotificationEndTime',
                min: 0,
                btns: ['clear', 'confirm'],
                done: function (value, date) {
                    //更新开始日期的最大日期
                    insStart.config.max = lay.extend({}, date, {
                        month: date.month - 1
                    });
                }
            }); 
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 绑定事件
        $(function () {
            // 查询
            SearchData(); 

            //查询按钮
            $(document).on('click', '#btnSearch', function () {
                var beginDate = $("#txtNotificationBeginTime").val();
                var endDate = $("#txtNotificationEndTime").val();

                if (beginDate == "" && endDate != "") {
                    layui.layer.msg('请选择创建起时间！');
                    $("#txtNotificationBeginTime").focus();
                    return false;
                } else if (beginDate
                    != "" && endDate == "") {
                    layui.layer.msg('请选择创建迄时间！');
                    $("#txtNotificationEndTime").focus();
                    return false;
                }
                SearchData();
            }); 
             
            //查看按钮
            $(document).on('click', '.btnView', function () {
                var tId = $(this).data("id");//仓储供应商选择id
                ShowData(tId);
            });
        });
         
        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#TraNotificationlist").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraNotificationCheck/TraNotificationCheckCount",
                async: false,
                data: {
                      beginTime: $("#txtNotificationBeginTime").val() //招标开始时间
                      , endTime: $("#txtNotificationEndTime").val() //招标结束时间
                      , notificationLines: $("#txtNotificationLines").val() //招标路线
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;//页面索引
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                beginTime: $("#txtNotificationBeginTime").val() //招标开始时间
                      , endTime: $("#txtNotificationEndTime").val() //招标结束时间
                      , notificationLines: $("#txtNotificationLines").val() //招标路线
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraNotificationCheck/TraNotificationCheckList',
                data: userjosn,
                success: function (data) {
                    $("#TraNotificationChecklist").html(template('temslist', { list: data }));
                    $(".forzentable").html(template('temslists', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#TraNotificationChecklist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
         
        // 查看
        function ShowData(tId) {
            location.href = '/Tra/TraNotificationCheck/Check?tId=' + tId;
        }
         
    </script>
}


