@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-form">
                <div class="layui-inline">
                    器具名称：
                    <div class="layui-input-inline">
                        <input id="txtPackingName" type="text" value="" placeholder="器具名称" style="width:200px;" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    包装代码：
                    <div class="layui-input-inline">
                        <input id="txtPackingNumber" type="text" value="" placeholder="包装代码" style="width:200px;" class="layui-input">
                    </div>
                    &nbsp;&nbsp;
                    供应商名称：
                    <div class="layui-input-inline">
                        <input id="txtSupplierName" type="text" value="" placeholder="供应商名称" style="width:200px;" class="layui-input">
                    </div>
                    <div class="layui-inline" style="margin:10px 0 0 10px;">
                        <a id="btnSearch" class="layui-btn">查询</a>
                        <a id="btnAdd" class="layui-btn layui-btn-normal">新增</a>
                        <a id="btnExport" class="layui-btn layui-btn-primary">导出</a>
                        <a id="btnImport" class="layui-btn layui-btn-primary">导入</a>
                        <a id="btnDown" class="layui-btn layui-btn-primary">导入模板下载</a>
                        @*<a id="btnDown" style="cursor:pointer;margin-left:10px;text-decoration:underline;">导入模板下载</a>*@
                    </div>
                </div>
            </div>
        </blockquote>
        <div class="layui-form">
            <div class="forzenbox">
                <div class="normaltable ">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th style="text-align:left;">器具名称</th>
                                <th>包装代码</th>
                                <th>长度</th>
                                <th>宽度</th>
                                <th>高度</th>
                                <th>体积</th> 
                                <th>拖体积系数</th>
                                <th>拖体积</th>
                                <th>返空体积系数</th>
                                <th>返空体积</th>
                                <th>返空单价</th>
                                <th>供应商代码</th>
                                <th>供应商名称</th>
                            </tr>
                        </thead>
                        <tbody id="CarPackingList" style="min-height:400px;"></tbody>
                    </table>
                </div>
                <div class="forzentable"></div>
            </div>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.PackingName}}</td>
                    <td>{{c.PackingNumber}}</td>
                    <td>{{c.Lengths}}</td>
                    <td>{{c.Widths}}</td>
                    <td>{{c.Heights}}</td>
                    <td>{{c.Volume}}</td> 
                    <td>{{c.DragDatio}}</td>
                    <td>{{c.DragVolume}}</td>
                    <td>{{c.ReturnDatio}}</td>
                    <td>{{c.ReturnVolume}}</td>
                    <td>{{c.ReturnPrices}}</td>
                    <td>{{c.SupplierNumber}}</td>
                    <td>{{c.SupplierName}}</td>
                    <td> 
                        <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.PackingId}}">
                            <i class="iconfont icon-edit"></i>编辑
                        </a>
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnInvalid" data-id="{{c.PackingId}}">
                            <i class="layui-icon"></i>作废
                        </a> 
                        <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.PackingId}}">
                            <i class="layui-icon"></i>查看
                        </a>
                    </td>
                </tr>
                {{/each}}
            </script>
        </div>
        <script type="text/html" id="temslists">
            <div class="layui-table-fixed layui-table-fixed-r">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody style="min-height:400px;">
                        {{each list as c}}
                        <tr>
                            <td lay-data="{width:80, sort: true, fixed: 'right'}"> 
                                <a class="layui-btn layui-btn-sm btnEdit" data-id="{{c.PackingId}}">
                                    <i class="iconfont icon-edit"></i>编辑
                                </a>
                                <a class="layui-btn layui-btn-danger layui-btn-sm btnInvalid" data-id="{{c.PackingId}}">
                                    <i class="layui-icon"></i>作废
                                </a> 
                                <a class="layui-btn layui-btn-normal layui-btn-sm btnView" data-id="{{c.PackingId}}">
                                    <i class="layui-icon"></i>查看
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </script>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'laydate', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table, laydate = layui.laydate;

        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 绑定事件
        $(function () {

            // 查询
            SearchData();

            // 新增
            $(document).on('click', '#btnAdd', function () {
                AddData();
            });

            // 查询
            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

            // 导出
            $(document).on('click', '#btnExport', function () {
                top.window.export = top.layui.layer.load(1, { shade: [0.3, '#000'] });
                $.post('/Car/CarPacking/Export'
                    , {
                        packingName: $("#txtPackingName").val(),
                        packingNumber: $("#txtPackingNumber").val(),
                        supplierName: $("#txtSupplierName").val()
                    }
                    , function (data) {
                        if (data.flag == 'noauth') {
                            top.layui.layer.close(top.window.export);
                            top.layui.layer.msg(data.content);
                        }
                        if (data.flag == 'success') {
                            location.href = '/Excel/Down?guid=' + data.guid + "&name=包装器具";
                            top.layui.layer.close(top.window.export);
                        }
                    }, 'json');
            });

            // 编辑
            $(document).on('click', '.btnEdit', function () {
                var tId = $(this).data("id");
                ModifyData(tId);
            });

            // 作废
            $(document).on('click', '.btnInvalid', function () {
                var tId = $(this).data("id");
                InvalidData(tId);
            });

            // 查看
            $(document).on('click', '.btnView', function () {
                var tId = $(this).data("id");
                ShowData(tId);
            });
        });

        // 新增
        function AddData() {
            location.href = '/Car/CarPacking/Add';
        }

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#CarPackingList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Car/CarPacking/CarPackingCount",
                async: false,
                data: {
                    packingName: $("#txtPackingName").val(),
                    packingNumber: $("#txtPackingNumber").val(),
                    supplierName: $("#txtSupplierName").val()
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                packingName: $("#txtPackingName").val(),
                packingNumber: $("#txtPackingNumber").val(),
                supplierName: $("#txtSupplierName").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Car/CarPacking/CarPackingList',
                data: userjosn,
                success: function (data) {
                    $("#CarPackingList").html(template('temslist', { list: data }));
                    $(".forzentable").html(template('temslists', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#CarPackingList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 编辑
        function ModifyData(tId) {
            location.href = '/Car/CarPacking/Edit?tId=' + tId;
        }

        // 作废
        function InvalidData(tId) {
            top.layer.confirm('您确定作废此数据吗？', ['确定', '取消'], function () {
                $.ajax({
                    type: "POST",
                    url: '/Car/CarPacking/InvalidState',
                    data: { tId: tId },
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            top.layer.closeAll();
                            SearchData();
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "fail") {
                            top.layer.msg(data.content);
                        }
                    }
                });
            }, function () { }
            );
        }

        // 查看
        function ShowData(tId) {
            location.href = '/Car/CarPacking/View?tId=' + tId;
        }
    </script>
}


