@{
    ViewBag.Title = "SupplierDetail";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<input id="hdpagetype" type="hidden" value="@ViewBag.url" />
<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-inline">
                供应商名称：
                <div class="layui-input-inline">
                    <input id="txtSupplierName" type="text" value="" placeholder="供应商名称" class="layui-input">
                </div>
                <a class="layui-btn" id="btnSearch">查询</a>
            </div>
        </blockquote>
        <div class="layui-form">
            <table class="layui-table" id="cominfos">
                <thead>
                    <tr>
                        <th style="text-align:left;">供应商名称</th>
                        <th>供应商编号</th> 
                    </tr>
                </thead>
                <tbody id="CarSupplierList" style="min-height:400px;"></tbody>
            </table>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr data-id="{{c.SupplierId}}"
                    data-suppliername="{{c.SupplierName}}"
                    data-suppliernumber="{{c.SupplierNumber}}">
                    <td>{{c.SupplierName}}</td>
                    <td>{{c.SupplierNumber}}</td> 
                </tr>
                {{/each}}
            </script>
        </div>
    </div>
</div>

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table;
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        $(function () {
            // 查询
            SearchData();

            // tr点击事件
            $(document).on('click', 'tr', function () {
                top.$.find('iframe[src="' + $("#hdpagetype").val() + '"]')[0].contentWindow.setInfo(
                    $(this).data("id"),
                    $(this).data("suppliername"),
                    $(this).data("suppliernumber")
                    );
                top.layui.layer.close(top.window.topdialog);
            });

            // 查询
            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });

        });

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var flagCount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#CarSupplierList").html("数据加载中……");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Car/CarPacking/CarSupplierCount",
                async: false,
                data: { supplierName: $("#txtSupplierName").val() },
                success: function (data) {
                    flagCount = data;
                    $(".pagedetail").text("共" + flagCount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(flagCount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                supplierName: $("#txtSupplierName").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Car/CarPacking/CarSupplierList',
                data: userjosn,
                success: function (data) {
                    $("#CarSupplierList").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#CarSupplierList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
    </script>
}
 
