@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<style>
    .normaltable th, .normaltable td {
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<form class="layui-form layui-form-pane" action="/Tra/TraComponent/AddTraComponent" method="post">
    <div class="layui-card">
        <div class="layui-card-header">运输评估元件信息</div>
        <div class="layui-card-body" style="overflow:hidden;height:220px;">
            <div class="layui-form-item" style="width:50% ;clear:none !important;float:left;">
                <label class="layui-form-label">基本类型</label>
                <div class="layui-input-inline">
                    <select id="selIsBasic" name="IsBasic" class="select" lay-filter="distributionscope">
                        <option></option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="width:50% ;clear:none !important;float:left;">
                <label class="layui-form-label">评估分类</label>
                <div class="layui-input-inline">
                    <select id="selAssessTypeName" name="AssessTypeName" class="select" lay-filter="distributionscope">
                        <option></option>
                        <option value="0">调拨</option>
                        <option value="1">配送(干线)</option>
                        <option value="2">配送(终端)</option>
                        <option value="3">配送(综合)</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="width:50% ;clear:none !important;float:left;">
                <label class="layui-form-label">元件名称</label>
                <div class="layui-input-inline">
                    <input id="txtComponentName" name="ComponentName" type="text" placeholder="元件名称" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item" style="width:50% ;clear:none !important;float:left;">
                <label class="layui-form-label">标准得分</label>
                <div class="layui-input-inline">
                    <input id="txtStandardScore" name="StandardScore" type="text" placeholder="标准得分" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea id="txtRemark" name="Remark"  maxlength="100" class="layui-textarea" style="height:60px;"></textarea>
                </div>
            </div>
        </div>
    </div>


    <div class="layui-card">
        <input type="hidden" id="hdComponentId" name="ComponentDetailList" />
        <div class="layui-card-header">运输评估元件信息明细</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-btn" id="btnComponent">
                新增运输评估元件信息
            </div>
            <div class="layui-card-body">
                <div class="layui-form">
                    <table class="layui-table" id="cominfos">
                        <thead>
                            <tr>
                                <th style="text-align:left;">检查项目</th>
                                <th>标准分</th>
                                <th>得分最大值</th>
                                <th>得分最小值</th>
                                <th>排序</>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="Componentlist" style="min-height:400px;"></tbody>
                    </table>
                    <div id="pageinfos" class="pagebox">
                        @*<div id="Pagination" class="pagination"></div>*@<div class="pagedetail">共0条记录</div>
                    </div>
                    <script type="text/html" id="temslist">
                        {{each list as c}}
                        <tr data-id="{{c.detailId}}" data-type="{{c.ComponentId}}">
                            <td>{{c.InspectProject}}</td>
                            <td>{{c.StandardScore}}</td>
                            <td>{{c.MaxScore}}</td>
                            <td>{{c.MinScore}}</td>
                            <td>{{c.Sort}}</td>
                            <td>{{c.Remark}}</td>
                            <td>
                                <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="DelComponentDetail('{{c.detailId}}')">
                                    删除
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </script>
                </div>
                <div style="height:0px;position:relative;width:0px;overflow:hidden;">
                    <input id="resetDialog" type="text" style="margin:30px 15px 10px 15px;height:30px;width:180px;" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:180px;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>

        </div>
    </div>
</form>
@section scripts{
    <script>
        // 仓储评估元件明细数组
        var componentDetaillist = [];

        // 新增仓储评估元件明细
        function AddComponentDetaillist() {
            $("#Componentlist").html(template('temslist', { list: componentDetaillist }));
            $("#hdComponentId").val(JSON.stringify(componentDetaillist));

            if (componentDetaillist.length > 0) {
                $("#pageinfos").show();
                $(".pagedetail").text("共" + componentDetaillist.length + "条");
            }
            else {
                $("#pageinfos").hide();
            }
        }

        // 删除仓储评估元件明细
        function DelComponentDetail(tId) {
            var tem = [];
            for (var i in componentDetaillist) {
                if (componentDetaillist[i].detailId != tId) {
                    tem.push(componentDetaillist[i]);
                }
            }
            componentDetaillist = tem;
            AddComponentDetaillist();
        }
        layui.use(['form', 'element'], function () {
            var form = layui.form, ele = layui.element;


            // 保存按钮
            form.on('submit(btnSave)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "/Tra/TraComponent/AddTraComponent",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('添加成功');
                            location.href = '/Tra/TraComponent/Index';
                        }
                        if (data.flag == "fail") {
                            layui.layer.msg('信息添加失败');
                        }
                        if (data.flag == "exist") {
                            layui.layer.msg('重复添加');
                        }
                    }
                });
                return false;
            });

            // 返回按钮
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Tra/TraComponent/Index';
            });

            //点击选择按钮
            $(document).on('click', '#btnComponent', function () {
                if ($("#selIsBasic").val() == "") {
                    layer.msg('请选择基本类型');
                    return false;
                }
                if ($("#txtStandardScore").val().length == 0) {
                    layer.msg('请输入标准得分');
                    return false;
                }
                Component();
            });
        });


        // 新增仓储评估元件明细弹窗
        function Component() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '运输评估元件信息明细添加',
                content: '/Tra/TraComponent/AddComponentDetail?url=/Tra/TraComponent/Index',
                area: ['700px', '580px'],
            });
        }

        // 添加仓储评估元件信息
        function SaveComponentType(project, standardScore, maxScore, minScore, sort, remark) {
            componentDetaillist.push({
                detailId: new Date().getTime(), InspectProject: project,
                StandardScore: standardScore, MaxScore: maxScore, MinScore: minScore, Sort: sort, Remark: remark

            });
            AddComponentDetaillist();
        }

    </script>
}