@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model  SRM.Model.Sys.SysAdjunctTypeModel
<form class="layui-form layui-form-pane" action="/SysAdjunctType/EditSysAdjunctType" method="post">
    <div class="layui-card">
        <div class="layui-card-header">附件类型新增</div>
        <div class="layui-card-body" style="overflow:visible;">
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>附件名称</label>
                <div class="layui-input-inline">
                    <input id="txtAdjunctName" type="text" name="AdjunctName" value="@Model.AdjunctName" lay-verify="required" maxlength="100" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>附件类型</label>
                <div class="layui-input-inline"> 
                    <select id="selAdjunctType" name="AdjunctType" lay-verify="required" class="select" disabled></select>
                    <input id="hdAdjunctType" type="hidden" name="AdjunctType" value="@Model.AdjunctType" />
                    <input id="hdAdjunctId" type="hidden" name="AdjunctId" value="@Model.AdjunctId" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:20%;margin:0 auto !important;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
            <script type="text/html" id="temdictlist">
                {{each list as c}}
                <option value="{{c.id}}">{{c.name}}</option>
                {{/each}}
            </script>
        </div>
    </div>
</form>
@section scripts{
    <script>

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            // 提交保存
            form.on('submit(btnSave)', function (data) {

                $("#btnSave").attr("display", "none");

                $.ajax({
                    type: "POST",
                    url: "/SysAdjunctType/EditSysAdjunctType",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('保存成功！');
                            location.href = '/SysAdjunctType/Index';
                        }
                        if (data.flag == "fail") {
                            layui.layer.msg('保存失败！');
                            $("#btnSave").attr("display", "inline");
                        }
                    }
                });
                return false;
            });
        });

        $(function () {
            // 附件类型
            SearchDictionaryList();

            // 附件类型赋值
            $("#selAdjunctType").val($("#hdAdjunctType").val());

            // 返回
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/SysAdjunctType/Index';
            });
        });

        // 类型数组
        window.AdjunctType = [];

        // 附件类型(系统字典表中获取)
        function SearchDictionaryList() {

            AdjunctType.push({ id: '', name: "请选择" });

            $.ajax({
                url: '/Supplier/Supplier/DictList',
                type: 'POST',
                async: false,
                datatype: 'json',
                success: function (data) {
                    if (data) {
                        for (var i in data) {
                            if (data[i].Type == 12) {
                                AdjunctType.push({ id: data[i].Number, name: data[i].Name });
                            }
                        }
                    }
                }
            });

            $("#selAdjunctType").html(template('temdictlist', { list: AdjunctType }));

            layui.use('form', function () {
                layui.form.render("select");
            });
        }

    </script>
}
