@{
    Layout = "~/Views/Shared/_home.cshtml";
}
<div class="layui-card">
    <div class="layui-card-header">添加机构</div>
    <div class="layui-card-body">
        <form class="layui-form layui-form-pane" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">上级名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="ParentName" id="hdnames" placeholder="" value="@ViewBag.pname" class="layui-input">
                    <input type="hidden" name="FatherId" id="hdids" value="@ViewBag.pid" />
                </div>
                <div class="layui-input-inline"> <a class="layui-btn layui-btn-sm"><em onclick="seltree()">选择</em></a>  </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">机构名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="DepartmentName" maxlength="36" lay-verify="required" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">机构编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="DeotNo" maxlength="50" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="Tel" maxlength="30" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="Address" maxlength="200" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="Sort" lay-verify="number" placeholder="" class="layui-input" value="100">
                </div>
                <div class="layui-input-inline"></div>数字越小越靠前
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否启用</label>
                <div class="layui-input-inline">
                    <input type="checkbox" checked lay-skin="switch" lay-filter="state" lay-text="启用|禁用">
                    <input id="hdstate" type="hidden" name="State" value="1" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select type="text" name="DeparType" lay-verify="required" placeholder="" class="layui-input" id="txtDictionaryType">
                        <option value="2">普通部门</option>
                        <option value="3">供应商部门</option> 
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="saveuser">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>

        </form>
    </div>
</div>
    @section scripts{
        <script>
            layui.use(['form', 'element', ], function () {
                var form = layui.form, ele = layui.element;

                form.on('switch(state)', function (data) {
                    $("#hdstate").val(this.checked ? "1" : "0");
                });

                form.on('submit(saveuser)', function (data) {

                    $.ajax({
                        type: "POST",
                        url: "/sysdep/adddep",
                        data: data.field,
                        async: false,
                        success: function (data) {
                            if (data.flag == 'ok') {
                                layui.layer.msg('添加成功');
                                location.href = '/sysdep/index'
                            }
                            if (data.flag == "exist") {
                                layui.layer.msg('已存在此机构');
                            }
                            if (data.flag == "fail") {
                                layui.layer.msg('信息添加失败');
                            }
                        }
                    });
                    return false;
                });
            });

            $(function () {
                $(document).on('click', '#btnGoBack', function () {
                    location.href = '/sysdep/index';
                });
            });

           
            function setinfo(ids, names) {
                if (ids == -1) { ids = 0; }
                $("#hdids").val(ids);
                $("#hdnames").val(names);
            }

            function seltree() {
                top.window.topdialog = top.layui.layer.open({
                    type: 2,
                    shade: 0.2,
                    title: '选择机构',
                    content: '/sysdep/tree?url=/sysdep/index',
                    area: ['300px', '450px'],
                });
            }

        </script>
    }
