@{
    Layout = "~/Views/Shared/_home.cshtml";
}
<div class="layui-card">
    <div class="layui-card-header">登陆日志</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <ul class="layui-timeline" id="userlist"></ul>

            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text cominfos"  style="cursor:pointer;">
                        <h3 class="layui-timeline-title">{{c.CompanyName}}</h3>
                        <p><span>{{c.Operator}}</span><span style="margin-left:10px;">{{c.Result}}</span><br />
                        <span>{{c.Message}}</span><span style="margin-left:10px;">{{c.Type}}</span></p>
                    </div>
                </li>

                @*<tr>
                    <td>{{c.LogId}}</td>
                    <td>{{c.Operator}}</td>
                    <td>{{c.Result}}</td>
                    <td>
                        <a class="layui-btn layui-btn-sm btnView" data-id="{{c.LogId}}"><i class="iconfont icon-edit"></i>查看</a>
                    </td>
                </tr>*@
                {{/each}}
            </script>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var pageIndex = 0;
        var pageSize = 15;

        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table;

        });

        $(function () {
            inits();
        });

        function inits() {
            var flagCount = 0;
            pageIndex = 0;
            $("#userlist").html("<tr class='loadings' ><td colspan=3>数据加载中……<td></tr>");
            $.ajax({
                type: "POST",
                url: "/syslogin/count",
                async: false,
                success: function (data) {
                    flagCount = data;
                    $(".pagedetail").text("共" + flagCount + "条记录");
                }
            });

            $("#Pagination").pagination(flagCount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/syslogin/list',
                data: userjosn,
                success: function (data) {
                    $("#userlist").html(template('temslist', { list: data }));

                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#userlist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });

        }
    </script>
}
