@{
    Layout = "~/Views/Shared/_home.cshtml";
}
<div class="layui-card">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <div class="layui-form">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input placeholder="请输入供应商名称" class="layui-input" type="text" id="iSuppName">
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" id="btnSearch">查询</a>
                </div>
            </div>
        </blockquote>
        <input id="hdpagetype" type="hidden" value="@ViewBag.url" />
        <div class="layui-form"> 
            <table class="layui-table" id="tablelist">
                <thead>
                    <tr>
                        <th>运输供应商名称</th>
                        <th>运输供应商编号</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="userlist" style="min-height:400px;"></tbody>
            </table>
            <div id="pageinfos" class="pagebox" style="display:none">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td>{{c.SupplierName}}</td>
                    <td>{{c.TransportNumber}}</td>
                    <td>
                        <a class="layui-btn layui-btn-danger layui-btn-sm btnSel " data-id="{{c.SupplierId}}" data-name="{{c.SupplierName}}"><i class="layui-icon"></i>选择</a>
                    </td>
                </tr>
                {{/each}}
            </script>
        </div> 
    </div>
</div>
@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table; 
        }); 
        var pageIndex = 0;
        var pageSize = 15;

        $(function () { 
            $(document).on('click', '#btnSearch', function () {
                search();
            });

            $(document).on('click', '.btnSel', function () {
                //top.setinfo($(this).data("id"));
                top.$.find('iframe[src="' + $("#hdpagetype").val() + '"]')[0].contentWindow.setinfo($(this).data("id"), $(this).data("name"));
                top.layui.layer.close(top.window.topdialog);
            });
        });

        function inits() {
            var flagCount = 0;
            pageIndex = 0;
            $("#userlist").html("<tr class='loadings' ><td colspan=2>数据加载中……<td></tr>");
            $.ajax({
                type: "POST",
                url: "/supplier/SupplierTransport/selcount",
                async: false,
                data: {
                    name: $("#iSuppName").val()
                },
                success: function (data) {
                    flagCount = data;
                    $(".pagedetail").text("共" + flagCount + "条记录");
                }
            });

            $("#Pagination").pagination(flagCount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                name: $("#iSuppName").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/supplier/SupplierTransport/sellist',
                data: userjosn,
                success: function (data) {
                    $("#userlist").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#userlist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        function search() {
            inits();
        }
    </script>
}
