@{
    ViewBag.Title = "SysDownloadData";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model  SRM.Model.Sys.SysStencilModel
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form layui-form-pane" method="post">
            <div class="layui-card">
                <div class="layui-card-body" style="overflow:hidden;">
                    <div class="layui-form-item" style="margin-top:10px;">
                        <input type="hidden" id="hdfiles" value="@ViewBag.files" />
                        <input type="hidden" id="hdoldfiles" value="@ViewBag.oldfiles" name="SuppOldFileList" />
                        <input type="hidden" id="hdfilelist" name="SuppFileLists" />
                        <div class="layui-input-inline" style="width:800px;overflow:hidden;">
                            <div class="layui-btn-group" style="float:left;overflow:hidden;">
                                <div class="layui-inline">
                                </div>
                            </div>
                            <div id="filelist" style="float:left;margin-right:5px;margin-bottom:5px;">

                            </div>
                            <script type="text/html" id="temfilelist">
                                {{each list as c}}
                                <div class="layui-btn-group" style="margin-bottom:5px;">
                                    <div class="layui-btn layui-btn-primary">
                                        <span>
                                            确定下载文件名称为（
                                            <span class="modify" data-id="{{c.id}}">{{c.filename}}</span>{{c.ext}}
                                            ）的模板吗？
                                        </span>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="width:60%;margin:0 auto !important;">
                                        @*<button class="layui-btn"  onclick="downfile('{{c.id}}')">保存</button>*@
                                        <em class="layui-btn" onclick="downfile('{{c.id}}')"><i class="layui-icon">确定</i></em>
                                        &nbsp;&nbsp;&nbsp;
                                        <a class="layui-btn" id="btnGoBack"><i class="layui-icon">取消</i></a>
                                    </div>
                                </div>
                                {{/each}}
                            </script>
                            <input id="hdTemSelectData" name="TemSelectData" type="hidden" />

                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        var filelist = [];
        function initfiles() {
            $("#filelist").html(template('temfilelist', { list: filelist }));
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        function delfilelist(ids) {
            var tem = [];
            for (var i in filelist) {
                if (filelist[i].id != ids) {
                    tem.push(filelist[i]);
                }
            }

            filelist = tem;
            initfiles();
        }
        function setfilename(ids, names) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    filelist[i].filename = names;
                }
            }
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        function downfile(ids) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    location.href = '/index/down?url=' + filelist[i].path + "&name=" + filelist[i].filename + "&ext=" + filelist[i].ext;
                }
            }
        }
        layui.use(['form', 'element', 'laydate'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;
            //文件上传
            layui.upload.render({
                elem: '#btnUpload'
               , url: '/index/upload?type=sysstencil'
               , accept: 'file'
               , auto: true
               , done: function (res) {
                   if (res.flag == "ok") {
                       $("#hdUrl").val(res.path);
                       $("#hdFileName").val(res.filename);
                       filelist.push({ id: new Date().getTime(), path: res.path, filename: res.filename, ext: res.ext });
                       initfiles();
                   }
                   return false;
               }
            });
        });

        // 返回事件
        $(function () {

            //修改上传文件名称
            $(document).on('click', '.modify', function () {
                var td = $(this);
                var txt = $.trim(td.text());
                var input = td.data("type") == "area" ? $("<textarea>" + $.trim(td.html().replace(/<br>/g, "\n")) + "</textarea>") : $("<input type='text'value='" + txt + "'/>");
                input.width(td.width() + 10).height(td.height() + 10);
                td.html(input);
                input.click(function () { return false; });
                input.trigger("focus");
                input.blur(function () {
                    var str = input.val().replace(/\n/g, '<br>')
                    if (!str) {
                        layui.layer.msg('文件名称不能为空');
                        td.html(txt);
                        return;
                    }
                    td.html(str);
                    setfilename(td.data("id"), str);
                });

                return false;
            });
            filelist = JSON.parse($("#hdfiles").val());
            initfiles();

            //返回按钮
            $(document).on('click', '#btnGoBack', function () {
                top.layui.layer.close(top.window.operate);
            });
        });
    </script>
}
