@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Home.cshtml";
}


<form class="layui-form layui-form-pane" action="/Tra/TraWorking/AddTraWorking" method="post" >
    <div class="layui-card" id="clearDivinput">
        <div class="layui-card-header">运输供应商信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="width:100%;clear:none !important; float:left;">
                <div class="layui-btn" id="btnTraWorking" style="width:15%;" title="点击选取运输供应商信息">运输供应商信息</div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">供应商名称</label>
                <div class="layui-input-inline">
                    <input id="txtSupplierName" type="text" placeholder="供应商名称" class="layui-input" lay-verify="supplier" disabled>
                    <input id="hdTransportId" type="hidden" name="TransportId" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"  style="width:130px;">运输供应商编号</label>
                <div class="layui-input-inline"  style="width:170px;">
                    <input id="txtTransportNumber" type="text" placeholder="运输供应商编号" class="layui-input" lay-verify="supplier" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">运作数据信息</div>
        <div class="layui-card-body" style="overflow:hidden;height:245px;">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>运作类型</label>
                <div class="layui-input-inline">
                    <select type="text" name="WorkingType" lay-verify="required" placeholder="" class="layui-input" id="txtWorkingType">
                        <option></option>
                        <option value="0">到货</option>
                        <option value="1">到车</option>
                        <option value="2">发货</option>
                        <option value="3">其他</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>考核类型</label>
                <div class="layui-input-inline">
                    <select type="text" name="CheckType" lay-verify="required" placeholder="" class="layui-input" id="txtCheckType">
                        <option></option>
                        <option value="0">调拨</option>
                        <option value="1">干线</option>
                        <option value="2">终端</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>时效范围</label>
                <div class="layui-input-inline">
                    <select type="text" name="RangeType" lay-verify="required" placeholder="" class="layui-input" id="txtRangeType">
                        <option></option>
                        <option value="0">车辆到达</option>
                        <option value="1">车辆预约</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>及时</label>
                <div class="layui-input-inline">
                    <select type="text" name="IsTimely" lay-verify="required" placeholder="" class="layui-input" id="txtIsTimely">
                        <option></option>
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">车牌号</label>
                <div class="layui-input-inline">
                    <input id="txtPlateNumber" type="text" maxlength="10" name="PlateNumber" lay-verify="" placeholder="车牌号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>运作时间</label>
                <div class="layui-input-inline">
                    <input id="txtWorkingTime" type="text" name="WorkingTime" lay-verify="required|workingtime" placeholder="运作时间" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>载运数量</label>
                <div class="layui-input-inline">
                    <input id="txtCarryNumber" type="text" name="CarryNumber" lay-verify="required|carrynumber" placeholder="载运数量" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>载运价值</label>
                <div class="layui-input-inline">
                    <input id="txtCarryValue" type="text" name="CarryValue" lay-verify="required" placeholder="载运价值" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline" style="margin-left:350px;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>

        </div>
    </div>
</form>
@section scripts{
    <script>
        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            //验证运作时间
            laydate.render({
                elem: '#txtWorkingTime'

            });

            form.verify({
                supplier: function (value, item) {
                    if (!value) {
                        return '运输供应商信息不能为空！';
                    }
                },
                carrynumber: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if ($("#txtCarryNumber").val() == 0) {
                        return '运载数量不能为0！';
                    }
                },
                transportcount: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if ($("#txtWorkingType").val() == 3) {
                        if ($("#txtTransportCount").val() == 0) {
                            return '运输次数不能为0！';
                        }
                    }
                },
                workingtime: function (value, item) { //value：表单的值、item：表单的DOM对象
                    var date = new Date();
                    var seperator1 = "/";
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var strDate = date.getDate();
                    if (month >= 1 && month <= 9) {
                        month = "0" + month;
                    }
                    if (strDate >= 0 && strDate <= 9) {
                        strDate = "0" + strDate;
                    }
                    var sDate1 = year + seperator1 + month + seperator1 + strDate;
                    var sDate2 = $("#txtWorkingTime").val();
                    var aDate, oDate1, oDate2, iDays;
                    aDate = sDate1.split("-");
                    oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);  //转换为yyyy-MM-dd格式
                    aDate = sDate2.split("-");
                    oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
                    iDays = parseInt((oDate1 - oDate2) / 1000 / 60 / 60 / 24); //把相差的毫秒数转换为天数
                    if (iDays < 0) {
                        return '当前时间必须大于运作时间！';
                    }
                    //else if (iDays > 3) {
                    //    return '当前时间和运作时间不能超过3天限制！';
                    //}
                }
            });
            // 保存
            form.on('submit(btnSave)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "/Tra/TraWorking/AddTraWorking",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('添加成功');
                            location.href = '/Tra/TraWorking/Index';
                        }
                        if (data.flag == "fail") { 
                            top.layer.msg(data.content)
                        }
                    }
                });
                return false;
            });
        });

        $(function () {

            //点击后退按钮，清除form表单中文本框的值
            $("#clearDivinput input").val(""); 

            // 运作数据信息
            $(document).on('click', '#btnTraWorking', function () {
                GetTraWorking();
            });
            // 返回
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Tra/TraWorking/Index';
            });
        });

        //判断两个日期之间的天数差
        function DateDifference(Date1, Date2) { //Date1和Date2是2017-07-10格式
            var sDate, newDate1, newDate2, Days
            aDate = Date1.split("-");
            newDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]); //转换为07-10-2017格式
            aDate = Date2.split("-");
            newDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
            Days = parseInt(Math.abs(newDate1 - newDate2) / 1000 / 60 / 60 / 24); //把差的毫秒数转换为天数
            return Days;
        }

        //计算两个日期天数差的函数，通用
        function dateDiff(sDate2) {
            var sDate1 = new Date().pattern("yyyy-MM-dd");
            var sDate2 = new Date().pattern("yyyy-MM-dd");
            var aDate, oDate1, oDate2, iDays;
            aDate = sDate1.split("-");
            oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);  //转换为yyyy-MM-dd格式
            aDate = sDate2.split("-");
            oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
            iDays = parseInt((oDate1 - oDate2) / 1000 / 60 / 60 / 24); //把相差的毫秒数转换为天数
            return iDays;  //返回相差天数
        }

        // 运输供应商信息
        function setinfo(transportid, suppliername, transportnumber) {
            $("#hdTransportId").val(transportid);
            $("#txtSupplierName").val(suppliername);
            $("#txtTransportNumber").val(transportnumber);
        }

        // 运输供应商信息
        function GetTraWorking() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '运输供应商信息',
                content: '/Tra/TraWorking/TraWorkingSupplier?url=/Tra/TraWorking/Index',
                area: ['1100px', '600px'],
            });
        }
    </script>
}
